@import "src/utils/variables";

.overview {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__top-bar {
        display: flex;
        padding: 1rem 2rem 0;
        justify-content: space-between;
    }

    &__title {
        font-weight: bold;
        color: $primary-color;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 1rem 4rem;
        margin: 0 auto;
    }

    &__link {
        text-decoration: none;
        color: #000000;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}