@import "src/utils/variables";

.order-overview {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    overflow: hidden;
    width: 16rem;
    min-width: 16rem;

    &__content {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0 0;
    }

    &__date {
        flex-direction: column;
    }

    &__status {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__currency {
        justify-content: end;
    }

    &__date, &__currency {
        margin-top: 1rem;

        & > * {
            &:last-child {
                font-weight: bold;
                color: $primary-color;
            }
        }
    }

    &:hover {
        & .details-billet {
            display: flex;
        }
    }
}